<h1>Pandas and matplotlib</h1>
Pandas is arguably the most used library in data science and most visualisations in python are made using matplotlib. They are also incredibly important to Machine Learning as they allow one to explore the data (and formulate the questions based on it) and also CLEAN/PREPARE the data. It is not an exageration saying that 80-90% of the work done by a Data Scientist is cleaning data.

[pandas](https://pandas.pydata.org/) is a powerful library that allows one to work with data.

In [37]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/damian/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/damian/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

To open our dataset let us use [pd.read csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [39]:
pokemon_df = pd.read_csv('Datasets/Pokemon.csv', sep=',')

Question: df stands for dataframe but what is a dataframe?

Question: how do we print the dataframe? When is that convenient?

In [40]:
print(pokemon_df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

Being able to see the entirety of the data on the screen is a double edged sword. In one hand the human working on a given dataset can be there visually inspecting the dataset all the time. On the other hand this process of merely displaying the data can quickly become a burden to the processing time. It is then more practical to use a different approach when dealing with large datasets.<br> 

In this sense there are a few tools we can use to inspect the data for example [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) and [tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html).

In [41]:
# Displaying the first 5 rows of the dataframe.
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [42]:
# Displaying the bottom 5 rows of the dataframe.
pokemon_df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Another very powerful tool is [describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

In [43]:
pokemon_df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Question: what are we seeing above? How is that useful? How is that NOT useful?

It is also possible to query specific aspects of each individual column. To select only a column it is similar to getting a specific item of a dictionary,

In [44]:
# Getting only the items that are in the HP column.
pokemon_df['HP']

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

dont use the below always write cleaner code int he example as above

In [45]:
pokemon_df.HP

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [46]:
# A list of columns can also be selected.
pokemon_df[['HP','Attack','Speed']]

     HP  Attack  Speed
0    45      49     45
1    60      62     60
2    80      82     80
3    80     100     80
4    39      52     65
..   ..     ...    ...
795  50     100     50
796  50     160    110
797  80     110     70
798  80     160     80
799  80     110     70

[800 rows x 3 columns]

To get to know all keys of the dataframe (or for getting something you can quick copy and paste) you can use

In [47]:
# This also works on dictionaries!
pokemon_df.keys()

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [48]:
pokemon_df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

For non-numerical columns other tools are more appropriated to understand the value distribution, such as

In [49]:
# This shows all the unique entries in the dataset for that column.
pokemon_df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [50]:
# This will count how much incidence of a given unique entry is seen on the dataframe.
pokemon_df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Exercises: how many pokemons does each different generation have? Also, how many legendary pokemons are there in total?

In [51]:
pokemon_df['Generation'].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

In [52]:
pokemon_df['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

This is how we save our dataframe.

In [53]:
pwd

'/Users/damian/Documents/Coding/Python-Module'

In [54]:
#Exporting data.
pokemon_df.to_csv('filename.csv', sep=',')

Describing the dataset.

In [55]:
# Getting the description.
pokemon_df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Question: what is all this information above?

In [56]:
# Combining methods.
pokemon_df.describe().to_csv('description.csv')

Now to operate over a single column the operands we've seen so far work,

In [59]:
pokemon_df['HP'] + 5

0      50
1      65
2      85
3      85
4      44
       ..
795    55
796    55
797    85
798    85
799    85
Name: HP, Length: 800, dtype: int64

Question: Did the operation above changed the actual values in the dataframe?

In [64]:
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Irrelevant,HP+100,Atk+Def+HP
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,145,143
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,160,185
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,180,245
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,180,303
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,139,134

Creating a new column in a dataframe is quite simple,

In [68]:
pokemon_df['Irrelevant'] = np.nan
pokemon_df['HP+100'] = pokemon_df['HP'] + 100
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Irrelevant,HP+100,Atk+Def+HP
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,95,143
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,110,185
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,130,245
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,130,303
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,89,134

In [74]:
pokemon_df['Atk+Def+HP'] = pokemon_df['Attack'] + pokemon_df['Defense'] + pokemon_df['HP']
pokemon_df = pokemon_df.drop(['Irrelevant','HP+100'], axis=1)

In [70]:
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Irrelevant,HP+100,Atk+Def+HP
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN,95,143
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN,110,185
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN,130,245
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN,130,303
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,89,134

As it is dropping those columns with [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

In [ ]:
# Getting the column names for a copy paste
pokemon_df.keys()

In [ ]:
# Listing the columns to drop. 
# axis = 1 means we're dropping it column-wise.
pokemon_df.drop(['Irrelevant','HP+100'], axis=1)

In [ ]:
pokemon_df.head()

In [ ]:
# Modifying a specific datapoint.
pokemon_df.at[0,'Irrelevant'] = 10

Question: why are the columns still there then? how do we actually get rid of them?

In [85]:
pokemon_df['Atk/Max'] = pokemon_df['Attack'] / max(pokemon_df['Attack'])
pokemon_df['Atk/Def'] = pokemon_df['Attack'] / pokemon_df['Defense']

Exercise: create a new column where the Attack of each pokemon is divided by the maximum value on the attack column, and a new column containing the division of the attack and defense stats.

In [83]:
np.max(pokemon_df['Attack'])
pokemon_df['Attack'].max()

190

In [88]:
pokemon_df['Atk/Max'] = pokemon_df['Attack']/190
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk+Def+HP,Atk/Max,Atk/Def
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143,0.257895,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185,0.326316,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245,0.431579,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303,0.526316,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,134,0.273684,1.209302

Filtering is also a process where a data scientist can spend countless hours in. Using pandas the process is also quite simple.

In [ ]:
# Showcase the pokemons with HP larger than 80.
pokemon_df[pokemon_df['HP'] > 80]

In [ ]:
# Notice that the condition doesn't need to be numerical.
pokemon_df[pokemon_df['Type 1'] == 'Fire']

In [ ]:
# Notice that the condition doesn't need to be numerical.
pokemon_df[(pokemon_df['Type 1'] == 'Ice')&(pokemon_df['Type 2'] == 'Psychic')]

Exercise: how do we measure how many entries satisfy the stated condition above? I.e., what is the length of the dataframe. [hint](https://www.w3schools.com/python/gloss_python_string_length.asp)

Examples on how to sort the dataframe.

In [ ]:
# Use this to show the largest imbalances on attack/defense.
pokemon_df.sort_values(by=['Attack/Defense'])[0:10]

In [ ]:
pokemon_df.sort_values(by=['Attack/Defense'], ascending=False)[0:10]

Exercise: how many pokemons don't have a second type? [hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)

What fraction of the dataset do they represent?

Now numbers can be quite confusing and their significance is limited when context or comparissons are not offered. In this sense pandas dataframes also contain many built-in functions that can help you. For example:

In [ ]:
pokemon_df['Attack'].describe()

In [ ]:
pokemon_df.hist()

Exploring the built in histogram method.

In [ ]:
# This plots the histogram of the attack column
pokemon_df.hist('Attack')

Exploring a line plot.

In [ ]:
pokemon_df['Attack'].plot()

In [ ]:
# Plotting the first 20 points only.
pokemon_df['Attack'][0:20].plot()

Question, is this plot appropriate for this data?

Now look at the following scatter plot.

In [ ]:
pokemon_df.plot.scatter(x='#',y='Attack')

What's the difference between a plot and a scatter plot?

In [ ]:
pokemon_df.plot.scatter(x='Attack',y='Defense')

What relevant information can we extract from this sort of plot? what is the use of scattering a column agains't the other?

Further modifying figures with matplotlib.

In [ ]:
# Create figure object and defining axes.
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(10, 6))

fig.suptitle('This is the title!')

# Above all, notice the ax = ax[0,0].
pokemon_df.plot.scatter(x='Attack',y='Defense',s=1, c='black', ax=axes[0,0])
pokemon_df.plot.scatter(x='Attack',y='Defense', ax=axes[1,0])
pokemon_df.plot.scatter(x='Attack',y='Defense',s=1, c='black', ax=axes[0,1])
pokemon_df.plot.scatter(x='Attack',y='Defense', s=1, ax=axes[1,1])

Exercise: for every pokemon type make a scatter plot of attack vs defense (and do colour them differently).

In [ ]:
# My solution.
fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(10, 6))

for key in pokemon_df['Type 1'].unique():
    print(key)

    axes.scatter(x=pokemon_df[pokemon_df['Type 1'] == key]['Attack'],
                 y=pokemon_df[pokemon_df['Type 1'] == key]['Defense'],
                s=5,
                label=key)
    
    plt.legend()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(10, 6))

axes.scatter(x=pokemon_df[pokemon_df['Type 1'] == 'Fire']['Attack'],
             y=pokemon_df[pokemon_df['Type 1'] == 'Fire']['Defense'],
             s=5, 
             color='red')

axes.scatter(x=pokemon_df[pokemon_df['Type 1'] == 'Grass']['Attack'],
             y=pokemon_df[pokemon_df['Type 1'] == 'Grass']['Defense'],
             s=5, 
             color='green')


#pokemon_df.plot.scatter(x='Attack',y='Defense',s=1, c='black', ax=axes[0])
#pokemon_df.plot.scatter(x='Attack',y='Defense',s=1, ax=axes[0])

A complete guide on the methods that can be acessed in a dataframe object can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html).

Exercise: now do the histogram of the HP, defense and speed columns.

In [ ]:
pokemon_df['HP'].plot.hist()

In [ ]:
fig,axes = plt.subplots(nrows=1,ncols=3,figsize=(12,6))
pokemon_df['HP'].plot.hist(ax=axes[0], bins=50, alpha=0.5, color='red')
axes[0].set_title('HP')

pokemon_df['Defense'].plot.hist(ax=axes[1], bins=50, alpha=.5, color='red')
axes[1].set_title('Defense')
pokemon_df['Attack'].plot.hist(ax=axes[1], bins=50, alpha=.5, color='blue')
axes[1].set_title('Attack')

pokemon_df['Speed'].plot.hist(ax=axes[2], bins=50, alpha=0.5, color='green')
axes[2].set_title('Speed')

axes[1].set_ylabel('')
axes[2].set_ylabel('')

In [ ]:
fig,axes = plt.subplots(nrows=1,ncols=3,figsize=(12,6))
pokemon_df['HP'].plot.hist(ax=axes[0], bins=50, alpha=0.5, color='red')
axes[0].set_title('HP')

pokemon_df['Defense'].plot.hist(ax=axes[1], bins=50, alpha=0.5, color='grey')
axes[1].set_title('Defense')

pokemon_df['Speed'].plot.hist(ax=axes[2], bins=50, alpha=0.5, color='green')
axes[2].set_title('Speed')

Numpy can also be used in conjunction with pandas to study the dataframes. For example

In [ ]:
# Returns the maximum value of the pokemons HP.
np.max(pokemon_df['HP'])

In [ ]:
# Returns the mean value of the pokemons attack.
np.mean(pokemon_df['Attack'])

Exercise: Find out how many pokemons have their Attack stat above the average value for the entire set.

Another thing that is very common to find is missing entries and there are different stragies that can be employed (for [example](https://pandas.pydata.org/docs/user_guide/missing_data.html)). Using [dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) we can drop all the rows that have a missing value,

In [ ]:
pokemon_df.dropna()

Why all the dataframe was wipped out?

Columns can be individually dropped using [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

In [ ]:
pokemon_df.keys()

In [ ]:
# For example:
pokemon_df.drop(['Irrelevant','HP+100'], axis=1)

In [ ]:
pokemon_df = pokemon_df.drop(['Irrelevant','HP+100'], axis=1)
# Now the NANs are not in every row anymore! see the result.
pokemon_df.dropna()

Exercise: compare the lengths of the dataframe before and after dropping the missing values.

Question: When is it appropriated to drop the missing values?

Exercise: make a pie chart showcasing the distribution of pokemon types.

Exercise: which is the strongest pokemon?

Exercise: what is a boxplot?

Exercise: make a box plot showcasing the different pokemon attacks.

If you want to dive into pandas and machine learning I recommend using [Kaggle](https://www.kaggle.com/). This platform contains a multitude of interactive tutorials that can facilitate your learning process.

In [ ]:
import seaborn as sns

sns.set()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(10, 6))

axes.scatter(x=pokemon_df[pokemon_df['Type 1'] == 'Fire']['Attack'],
             y=pokemon_df[pokemon_df['Type 1'] == 'Fire']['Defense'],
             s=1, 
             color='red')
axes.scatter(x=pokemon_df[pokemon_df['Type 1'] == 'Grass']['Attack'],
             y=pokemon_df[pokemon_df['Type 1'] == 'Grass']['Defense'],
             s=1, 
             color='green')

In [ ]:
pokemon_df.describe()

In [ ]:
sns.boxplot(x=pokemon_df['Attack'])

In [ ]:
pokemon_df['Type 1'].apply(pd.value_counts).plot.pie(subplots=True)

In [ ]:
pokemon_df.head()

In [ ]:
pokemon_df['Type 1'].value_counts()

In [ ]:
pokemon_df['Type 1'].value_counts().plot(kind='pie')

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(20, 10))

pokemon_df['Type 1'].value_counts().plot(kind='pie', ax=axes[0])

pokemon_df['Type 2'].value_counts().plot(kind='pie', ax=axes[1])

axes[0].set_ylabel('')
axes[1].set_ylabel('')
fig.suptitle('Test')
plt.tight_layout()

In [ ]:
pokemon_df['Type 1'].value_counts().plot(kind='pie')